<form [formGroup]="createForm" (ngSubmit)="onSubmit()">
    <div class="col-md-8">
        <div>
            <label>Tag</label>
            <input type="text" class="form-control" formControlName="tag">
        </div>
        <div>
            <label>URL</label>
            <input type="text" class="form-control" formControlName="url">
        </div>
        <div>
            <label>Description</label>
            <textarea formControlName="descriptions" class="form-control"></textarea>
            <!--<input type="text" class="form-control" formControlName="url">-->
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
