<form [formGroup]="editForm" (ngSubmit)="onSubmit()">
  <div class="col-md-8">
    <div>
      <label>Tag</label>
      <input type="text" class="form-control" formControlName="tag">
    </div>
    <div>
      <label>URL</label>
      <input type="text" class="form-control" formControlName="url">
    </div>
    <div>
      <label>Descriptions</label>
      <textarea formControlName="descriptions" class="form-control"></textarea>
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
  </div>
</form>
